@charset "utf-8";
* {
	font-family: Arial;
}
body{
	margin: 0;
	padding: 0;
}
header{
	display: flex;
	justify-content: center;
	height: 87px;
	background-color: #000;
}
.container{
	display: flex;
	justify-content: space-between;
	width: 1650px !important;			
	font-weight: bold;
	padding: 0;
}
.container span{
	color: #c9f500; 	
}
.menu{	
	display: flex;
	align-items: center;	
}
nav ul,
nav li{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;	
}
nav ul{
	display: flex;
}
nav a {
	display: block;
	padding: 15px;
	text-decoration: none !important;
	text-transform: uppercase;
	color: #fff;
}
nav .active a,
nav a:hover {
	/*background-color: #39aae1;*/
	color: #c9f500;  
}
.phones a:hover{
	color: #c9f500; 
}
.phones{
	display: flex;
	justify-content: center;	
}
.phones ul{
	display: flex;
	align-items: center;		
}
.phones ul,
.phones li{	
	list-style: none;
	margin: 0;
	padding: 2px;
}
.phones a {
	display: block;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none !important;	
}
#banner{
	display: flex;
	background-image: url('../images/fundo.fw.png');
	justify-content: center;
	background-position: center;
	background-size: cover;
}
.column{
	flex-direction: column;
}
.banner_logo{
	display: flex;
	padding-top: 70px;
	margin-left: 165px;
}
.banner_logo img{
	height: 135px;
}
.banner_textos{
	display: flex;
	align-items: flex-end;
	margin-top: 70px;
	margin-left: 165px;	
	color: #fff;
}
hgroup{
	display: flex;
	align-items: flex-end;	
}
hgroup h1,
h3{
	font-weight: bold;
}
hgroup h1{
	font-size: 45px;
}
hgroup h3{
	margin-left: 85px;
}
.banner_t3{
	display: flex;
	flex-direction: row-reverse;	
}
.t3{
	width: 350px;
	margin-top: 200px;
	margin-right: 153px;
	margin-bottom: 30px;
	color: #fff;
}
#fazemos{
	display: flex;
	background-color: #e1e1e1;
	height: 583px;
	border: 1px solid purple;
}
.fazemos_titulo{
	display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.fazemos_titulo h1,
.fazemos_titulo h3{
 	font-weight: bold;
	color: #4d4848;
}
.fazemos_titulo h3{
	font-size: 20px;
}
#fazemos hgroup{
	display: flex;
	font-weight: bold;
	color: #4d4848;
}
.img_column,
.title_column h3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.fazemos_colunas{
	display: flex;
    /* flex-direction: column; */
    align-items: center;
    border: 1px solid green;
    padding: 20px;
}
.cols{
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;    
}
.cols h3{
	display: flex;
	align-items: center;
	min-height: 111px;
}
/* .title_column{
	text-align: center;
	color: #4d4848;
	max-height: 56px;
} */
.fazemos_texto_column{
	text-align: justify;
}
.fazemos_texto_column p{
	margin-bottom: 50px;
}
#geral{
	display: flex;
	justify-content: center;	
}
#geral section{
	flex: 2;
}
#geral aside{
	flex: 1;
	background-color: #f1f9fb;
}
.widget_body{
	display: flex;	
	flex-wrap: wrap;
}
.widget_body_sidebar{
	display: flex;
	flex-direction: column;
}
.widget_body article{
	display: grid;
	justify-content: center;
	height: auto;
	border: 1px solid green;	
	margin: 10px;
    padding: 10px;
}

.widget_title{
	display: flex;
	justify-content: center;
}
.widget_title_text{
	color: #797575;
}
.widget_title{
	margin-top: 30px;
	margin-bottom: 20px;
}
.widget_title_img{
	/* color: #000;
	font-size: 21px;
	font-weight: bold; */
	width: 420px;
    height: auto;
    padding: 20px;
}
.widget_title_img img{
	width: 100%;
}
.widget_title_bar{
	width: 50px;
	height: 2px;
	background-color: #36a9e1;
	margin-top: 10px;
}
/* .flex{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 1px solid green;
} */
article{
	flex: 1;
	min-width: 213px; 
	margin-right: 20px;
}
article a{
	text-decoration: none;
}
/* article .news_data{
	display: flex;
} */

/* article .news_comments{
	background-color: #39aae1;
	color: #fff;
	font-size: 12px;
	padding: 10px; 
} */
/* article .news_thumbnail{
	margin-top: 30px;
} */
/* article .news_thumbnail img{
	width: 100%;
	height: auto;

} */
/* article .news_title{
	margin-top: 25px;
	margin-bottom: 25px;
	color: #000;
	font-size: 23px;	
} */
/* article .news_resume{
	color: #5c5c5c;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 30px;
} */
section .departments {
    /* flex:1;
    min-width:100px;
    margin-right:20px; */
    padding: 30px;
}

section .departments a {
    text-decoration: none;
}

section .departments .news_thumbnail {
    margin-top:15px;
}

section .departments .news_thumbnail img {
    width:100%;
    height:auto;
}